<!-- Description -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#428bca">Show Sale Variants</h2>
            <h3 class="oe_slogan" style="color:#428bca">Access potential alternatives right from a line in a sales order</h3>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">
               The app is to easily find substitutes for already selected products but with different attributes:
            </p>
            <h4 class="oe_slogan oe_mt32" style="color:#428bca">Features</h4>
            <p class="oe_mt32">
                <ul>
                    <li class="oe_mt16">Click on the button in a sales line to find all possible products of the same template but other attributes values (the button is available both on form and tree view of sale order lines)</li>
                    <li class="oe_mt16">Look through the list and press the button to replace a product selected before with a new one. The list is the same tree shown under the menu Product Variants. It includes description, prices, inventories</li>
                    <li class="oe_mt16">The columns in a sales line would be updated: description, unit of measure, etc.</li>
                    <li class="oe_mt16">The app is fully compatible with warehouse management. Thus, available and virtual stocks would be shown</li>
                </ul>
            </p>
<!--             <div class="oe_centeralign">
                <h2><a  class="btn btn-primary btn-lg" href="https://youtu.be/si8a5eJRwIo" style="color:white" target='_blank'><strong><i class="fa fa-arrow-right"/>  Watch Demo</a></strong></h2>
            </div> -->
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_spaced">
            <h4 class="oe_slogan" style="color:#428bca">Sale Lines Buttons (Tree View)</h4>
            <div class="oe_demo oe_screenshot oe_mt16">
               <img src="sale_order.png" alt='Odoo Search and Filter objects'>
            </div>
        </div>
        <div class="oe_span12 oe_spaced">
            <h4 class="oe_slogan" style="color:#428bca">Sale Lines Button (Form View)</h4>
            <div class="oe_demo oe_screenshot oe_mt16">
               <img src="show_variants_form_view.png" alt='Odoo Search from Form Views'>
            </div>
        </div>
        <div class="oe_span12 oe_spaced">
            <h4 class="oe_slogan" style="color:#428bca">Wizard to Select a proper variant</h4>
            <div class="oe_demo oe_screenshot oe_mt16">
               <img src="variant_wizard.png" alt='Odoo Product Variants Wizard'>
            </div>
        </div>
    </div>
</section>
<section class='oe_container'>
    <div class="oe_row oe_spaced">
        <div class="oe_centeralign oe_span12">
            <h2><a  class="btn btn-primary btn-lg" href="http://advanced-pricing.erpbase.ru/" style="color:white" target='_blank'><strong><i class="fa fa-arrow-right"/>  Test online</a></strong></h2>
            <h4 class="oe_slogan">login - <strong>demo</strong>; password - <strong>demo</strong></h4>
        </div>
    </div>
</section>
<!-- Recomendations -->
<section class='oe_container oe_dark'>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_slogan" style="color:#428bca">Suggested Apps</h4>
        </div>
        <div class="oe_span4 oe_mt16">
            <div class="oe_centeralign">
                <h5>
                    <big>
                        <a href="https://apps.odoo.com/apps/modules/8.0/variant_price_system/">
                            Advanced Variant Prices
                        </a>
                    </big>
                </h5>
            </div>
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://apps.odoo.com/apps/modules/8.0/variant_price_system/">
                    <img src="app_1.png"  alt='Odoo App IT Libertas'>
                </a>
            </div>
        </div>
        <div class="oe_span4 oe_mt16">
            <div class="oe_centeralign">
                <h5>
                    <big>
                        <a href="https://apps.odoo.com/apps/modules/8.0/joint_calendar/">
                            Joint Calendar
                        </a>
                    </big>
                </h5>
            </div>
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://apps.odoo.com/apps/modules/8.0/joint_calendar/">
                    <img src="app_2.png"  alt='Odoo App IT Libertas'>
                </a>
            </div>

        </div>
        <div class="oe_span4 oe_mt16">
            <div class="oe_centeralign">
                <h5>
                    <big>
                        <a href="https://apps.odoo.com/apps/modules/8.0/compoze_no_auto_subscribe/">
                            No Auto Subscription
                        </a>
                    </big>
                </h5>
            </div>
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://apps.odoo.com/apps/modules/8.0/compoze_no_auto_subscribe/">
                    <img src="app_3.png"  alt='Odoo App IT Libertas'>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- About us -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_slogan" style="color:#428bca">Developers</h4>
        </div>
        <div class="oe_span6 oe_mt16 oe_centeralign">
            <p class="">
                <ul style='list-style:None'>
                    <li class="oe_mt16"><big><big><a href="https://itlibertas.com/en_US/page/website.contactus"  style="color:#31708f"><i class="fa fa-bell-o"></i> Contact Us</a></big></big></li>
                    <li class="oe_mt16"><big><big><a href="https://itlibertas.com/en_US/page/odoo-customization" style="color:#31708f"><i class="fa fa-wrench"></i> Odoo Customization</a></big></big></li>
                    <li class="oe_mt16"><big><big><a href="https://itlibertas.com/en_US/page/odoo-support" style="color:#31708f"><i class="fa fa-life-ring"></i> Odoo Support and Maintenance</a></big></big></li>
                </ul>
            </p>
        </div>
        <div class="oe_span6 oe_mt16">
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://itlibertas.com/en_US/page/homepage">
                    <img src="site.png"  alt='Odoo Services by IT Libertas'>
                </a>
            </div>
        </div>
    </div>
</section>