.dialogue_widget .email {
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    width: calc(100% - 100px);
    float: left;
}

.dialogue_widget .email .email_header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.dialogue_widget .email .email_subject{
    font-weight: bold;
    font-size: 16px;
}

.dialogue_widget .email .email_date{
    padding-top: 3px;
    font-size: 12px;
}


.dialogue_widget .email .email_body {
    border-top: 1px solid rgba(0,0,0,0.12);
    padding: 10px;
    display: none;
}

.dialogue_widget .email .email_header.unread {
    background-color: #ffcdd2;
}

.dialogue_widget .email.outgoing {
    float: right;
}

.dialogue_widget #emails_list:after{
    content: "";
    display: block;
    clear: both;
}

.openerp .oe_application .dialogue_widget_buttons .btn{
    color: #fff;
}
