<section class="oe_container" style="max-width: 100%;">
    <div class="oe_row oe_spaced" style="margin-top: 0;max-width: 100%;">
        <div class="oe_span12" style="max-width: 100%;">
            <h2 class="oe_slogan">Print product images and line numbering for<br/> Purchase order and quotation</h2>
           
            <h4 class="oe_slogan">Features:</h4>
<ul><li>Add line numbers on Purchase order and Quotation. (Optional per order)</li>
<li>Add product images on Purchase order and Quotation. (Optional per order)</li>
<li>Possibility to choose product image size. (Small, Medium and Big sizes)</li>
</ul>


            <div class="oe_screenshot" style="text-align: center; margin-top: 20px;">
                    <img style="max-width: 100%;" src="https://dusal.net/other/odoo/dusal_purchase/screenshot1.png"><br /><br />
                    
                    <h4 class="oe_slogan">Creating Purchase order & Quotation:</h4>
                   
                    <img style="max-width: 100%;" src="https://dusal.net/other/odoo/dusal_purchase/screenshot.png"><br /><br />
                     <img style="max-width: 100%;" src="https://dusal.net/other/odoo/dusal_purchase/edit_line_screenshot.png"><br /><br />
                    <h4 class="oe_slogan">Printed view of Purchase order & Quotation:</h4>
                    <img style="max-width: 100%;" src="https://dusal.net/other/odoo/dusal_purchase/screenshot2.png"><br /><br />

            </div>
            <h3>Please <a href="https://www.odoo.com/apps/modules/browse?author=Dusal%20Solutions">click here</a> and check out our other modules.</h3>
            <h4 style="padding-top: 20px;">If you have any questions then you can contact us via following email. Support email: <a class="reference external" href="mailto:almas@dusal.net">almas@dusal.net</a></h4>
        </div>
    </div>
    
</section>

